/*------- Laptop -------  */
@media screen and (max-width: 1025px) {
  .text {
    width: 787px;
    height: 44px;
  }
  .main_title {
    font-size: 84px;
    width: 588.954px;
    height: 180px;
  }
  .navigation {
    width: 44px;
    height: 113px;
  }
  .ring_text{
    margin-top: 15px;
  }
}
/*------- Tablet -------  */
@media screen and (max-width: 768px) {
  .text {
    width: 550px;
    height: 44px;
  }
  .main_title {
    font-size: 60px;
  }
  .RingMe_content {
    display: flex;
    align-items:center;
  }
  .ring_text{
    margin-top: 30px;
  }
  .RingMe{
    height: 187px;
  }
}
@media screen and (max-width: 720px) {
  .text {
    display: none;
  }
  .butn_blue{
    margin-top: 80px;
  }
}
/*------- Phone -------  */
@media screen and (max-width:650px){
  .RingMe_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
  }
  .ring_text{
    margin-top: 10px;
    width: auto;
  }
  .btn_white{
    margin-top: 40px;
  }
}
@media screen and (max-width:520px){
    #navigation{
        display: none;
    }
    .main_title{
        font-size: 50px;
    }
    .RingMe{
      height: 300px;
    }
}
@media screen and (max-width:320px){

}