/*------- Laptop -------  */
@media screen and (max-width: 1440px) {
  .CardGrid {
    grid-gap: 80px;
  }
  .block_images-news {
    grid-template-columns: repeat(3, 1fr);
  }
  .img-text-block {
    width: auto;
  }
  .img-blue_block {
    width: auto;
  }
}
@media screen and (max-width: 1150px) {
  .cards_portfolio {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .portfolio {
    height: auto;
  }
}
@media screen and (max-width: 1025px) {
  .text {
    width: 787px;
    height: 44px;
  }
  .main_title {
    font-size: 84px;
    width: 588.954px;
    height: 180px;
  }
  .navigation {
    width: 44px;
    height: 113px;
  }
  .ring_text {
    margin-top: 15px;
  }
  .Service_content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .service_text {
    width: 661px;
  }
  .service_subtitle {
    width: 600px;
  }
  .title {
    text-align: center;
  }
  .team_title {
    text-align: start;
  }
  .Service_info {
    width: 850px;
  }
  .service_card {
    text-align: center;
  }
  .cards_portfolio {
    width: 600px;
  }
}
/*------- Tablet -------  */
@media screen and (max-width: 768px) {
  .text {
    width: 550px;
    height: 44px;
  }
  .main_title {
    font-size: 60px;
  }
  .RingMe_content {
    display: flex;
    align-items: center;
  }
  .ring_text {
    margin-top: 30px;
  }
  .RingMe {
    height: 187px;
  }
  .Service_info {
    width: 550px;
  }
  .CardGrid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 158px;
  }
  #team_image {
    width: 240px;
    height: 227px;
  }
  .team_subtitle {
    width: 407px;
    height: 235px;
  }
  .team_content {
    margin-left: 20px;
  }
  .team_btn {
    margin: 21px 248px 0px 0px;
  }
  .block_images-news {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 720px) {
  .text {
    display: none;
  }
  .butn_blue {
    margin-top: 80px;
  }
}
/*------- Phone -------  */
@media screen and (max-width: 650px) {
  .RingMe_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .ring_text {
    margin-top: 10px;
    width: auto;
  }
  .btn_white {
    margin-top: 40px;
  }
  .RingMe {
    height: 300px;
  }
  .Service_info {
    width: auto;
  }
  .Service_content {
    align-items: center;
    justify-content: center;
  }
  .service_text {
    width: 500px;
    text-align: center;
  }
  .blue_line {
    margin: 0 auto;
  }
  .service_subtitle {
    width: 500px;
    text-align: center;
  }
  .CardGrid {
    align-items: center;
    justify-items: center;
  }
  #team_image {
    display: none;
  }
  .team_content {
    text-align: center;
    margin: 0 auto;
  }
  .team_title {
    text-align: center;
  }
  .team_btn {
    margin: 36px auto;
  }
  .team_subtitle {
    width: auto;
    height: auto;
  }
  .block_images-news{
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 520px) {
  #navigation {
    display: none;
  }
  .main_title {
    font-size: 50px;
  }
  .RingMe {
    height: 300px;
  }
  .CardGrid {
    grid-template-columns: repeat(1, 200px);
    align-items: center;
    justify-items: center;
    width: 254px;
    height: 2293px;
  }
  .service_text {
    width: 400px;
    height: 70px;
    text-align: center;
  }
  .blue_line {
    margin: 0 auto;
  }
  .service_subtitle {
    width: 390px;
    text-align: center;
  }
  .cards_portfolio {
    width: 300px;
  }
}
@media screen and (max-width: 375px) {
  .service_text {
    width: auto;
  }
  .service_subtitle {
    width: 300px;
    margin: 34px auto;
  }
  .white_title {
    font-size: 24px;
  }
  .portfolio_content {
    align-items: center;
    justify-content: center;
  }
  .cards_portfolio {
    margin: 30px auto;
  }
}
