@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,regular,500,700);

body {
  font-size: 16px;
  font-family: Roboto;
  height: 100%;
}

[class*="__container"] {
  max-width: 1183px;
  margin: 0 auto;
  padding: 0px 15px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

/*------- Standart style -------  */
.title {
  color: #2b4074;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto Condensed;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0px 64px 0px;
}
.subtitle {
  color: #797979;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 351px;
  height: 68px;
  margin: 34px 0px;
}
/*------- Header menu -------  */
.header {
  background-color: #2b4074;
  height: 100px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header_logo {
}
/*------- Burger menu -------  */
.burger_menu {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.burger_menu:hover {
  background-color: #efecec;
}
.burger_menu span {
  width: 15px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2b4074;
  transition: all 0.5s;
}
.burger_menu span:nth-last-of-type(2) {
  top: calc(50% - 5px);
}
.burger_menu span:nth-last-of-type(3) {
  top: calc(50% + 5px);
  top: calc(50% - 5px);
}
.burger_menu span:nth-last-of-type(3) {
  top: calc(50% + 5px);
}
/*------- Main -------  */
.main_start {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/bg_main.jpg) center/cover no-repeat;
  width: 100%;
  height: 668px;
}
.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 107px 0px;
}
.main_title {
  color: #fff;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.text {
  color: #fff;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 18px 0px;
  width: 886px;
  height: 66px;
}
.btn_blue {
  background-color: #2b4074;
  width: 200px;
  height: 50px;
  color: #f9f6e5;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 28px 0px;
}
.btn_blue:hover {
  background-color: #1b336f;
}
#pagination {
  margin: 123px 0px;
}
/*------- Navigation -------  */
#navigation {
  position: absolute;
  top: 35%;
  right: 10px;
  z-index: 1;
}
/*------- Ring block -------  */
.RingMe {
  width: 100%;
  height: 192px;
  background-color: #2b4074;
}
.RingMe__container {
  padding-top: 50px;
}
.RingMe_content {
  display: flex;
  justify-content: space-between;
}
.ring_title {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.ring_text {
  margin-top: 10px;
  width: 396px;
  height: 42px;
  color: #fff;
  font-family: Dosis;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}
.btn_white {
  margin: 0;
  background-color: #fff;
  color: #2b4074;
  font-family: Roboto;
  font-style: normal;
}
.btn_white:hover {
  background-color: #efecec;
}
/*------- Service -------  */
.Service__container {
}
.Service_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Service_info {
  margin: 90px 0px;
}
.service_text {
  color: #4a4a4a;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 393px;
  height: 60px;
  margin: 0px 0px 30px;
}
.blue_line {
  width: 98.736px;
  height: 8px;
  background-color: #2b4074;
}
/*------- Card service -------  */
.CardGrid {
  display: grid;
  align-items: center;
  grid-gap: 100px;
  margin: 0 100px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}
.service_card {
  text-align: center;
}
.card_title {
  color: #4a4a4a;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.card_subtitle {
  margin: 0px;
  width: 196px;
  height: 48px;
  margin: 21px 0px 18px 0px;
}
#card_UX {
  border: 3px solid #2b4074;
  padding: 10px;
  text-align: center;
  width: 212px;
  height: 255px;
}
.card_link {
  color: #2b4074;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.card_link:hover {
  color: #4f72ca;
}
/*------- Portfolio -------  */
.portfolio {
  width: 100%;
  height: 668px;
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
}
.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  margin: 80px auto;
}
.white_title {
  color: #fff;
}
._white {
  background-color: #fff;
}
.cards_portfolio {
  display: flex;
  gap: 20px;
  margin: 80px auto;
  position: relative;
}
.card_portfolio {
  width: 268px;
  height: 239px;
  text-align: center;
  position: relative;
}
.project_title {
  color: #2b4074;
  text-align: center;
  margin: 25px auto;
  cursor: pointer;
}
.card_portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.portfolio_info-bg {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  width: 243px;
  height: 217px;
  background: linear-gradient(
    rgba(249, 246, 229, 0.5),
    rgba(249, 246, 229, 0.5)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s; 
}
.card_portfolio:hover .portfolio_info-bg {
  opacity: 1;
}
/*------- Team -------  */
.team_block {
  width: 100%;
  height: 580px;
}
.team__container {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
}
.team_content {
  height: auto;
  padding: 80px auto;
}
.team_image {
  width: 470px;
  height: 430px;
}
.team_subtitle {
  width: 506px;
  height: 192px;
}
.team_btn {
  width: 230px;
  height: 60px;
  margin: 0;
}
/*------- News -------  */
.block_news {
  width: 100%;
  height: auto;
  background-color: #f9f6e5;
}
.news__container {
  display: flex;
  flex-direction: column;
}
.news_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 52px auto;
}
.block_images-news {
  margin: 115px auto;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.image_content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.img-text-block {
  width: 270px;
  height: 40px;
  background-color: #fff;
  color: #4a4a4a;
}
.image-text-container {
  padding: 8px 20px 10px 20px;
}
.image_news {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
.image_news:hover {
  filter: brightness(60%) sepia(100%) hue-rotate(200deg);
  transition: all 0.8s ease;
}
.img-blue_block {
  position: relative;
  top: -60px;
  left: 0;
  width: 270px;
  height: 40px;
  background-color: #2b4074;
  color: #f9f6e5;
}
.image_text {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.image_content::before {
  content: url(../images/icons.svg);
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 55%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_content:hover::before {
  opacity: 1;
}
/*------- Marketing -------  */
.block_marketing {
  width: 100%;
  height: 480px;
}
.marketing__container {
}
.marketing_content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px auto;
}
.text_marketing {
  color: #4a4a4a;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto Condensed;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 30px auto;
}
#blue_text {
  color: #2b4074;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto Condensed;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#bracket {
  color: #2b4074;
  font-family: FontAwesome;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.subtitle_marketing {
  color: #4a4a4a;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  margin: 30px auto;
}
.marketing_content img {
  margin: 80px auto;
  width: 50px;
  height: 10px;
}
/*------- Footer -------  */
.footer {
  width: 100%;
  height: auto;
  background-color: #2b4074;
}
.footer__container {
  position: relative;
}
.footer_content {
  margin: 158px auto;
}
.text-footer {
  width: 450px;
  height: 61px;
  text-align: start;
}
.block_btn {
  position: absolute;
  top: -190px;
  left: 40%;
  width: 230px;
  height: auto;
  background-color: #2b4074;
  padding: 0 60px;
}
.block_social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #7ebf84;
  border-left: none;
  border-right: none;
  height: 63px;
  margin: 80px auto;
}
.social {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: center;
  position: relative;
}
.social img {
  width: 20px;
  height: 15px;
}
.social:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 61px;
  background-color: #7ebf84;
  left: 100%;
  top: -10;
}

.block_widgets {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 180px;
  flex-wrap: wrap;
}
.widgets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer_title {
  color: #f9f6e5;
  text-align: start;
}
.widgets_text {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
