* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Roboto;
  height: 100%;
}
[class*="__container"] {
  max-width: 1183px;
  margin: 0 auto;
  padding: 0px 15px;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}
.content {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
}
/*------- Task 1 -------  */
.black_box {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
.btn-block {
  display: flex;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  background-color: orange;
}
.btn:hover {
  background-color: lightcoral;
}
.hidden {
  display: none;
}
/*------- TAsk 3 -------  */
.box {
  display: flex;
}
.black_box2 {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 20px 20px;
}
/*------- Task 4 -------  */
.selectorInput {
  width: 250px;
  height: 40px;
  padding: 20px;
  margin: 0 20px;
}
#btn {
  width: 100px;
  height: 43px;
  margin: 0 20px 0 20px;
  background-color: orange;
  cursor: pointer;
}
.elements {
  display: flex;
}
.example-class {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 20px 20px;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*------- Task 5 -------  */
#yellow_box {
  width: 100px;
  height: 100px;
  background-color: yellow;
  cursor: pointer;
  margin: 0 20px;
}
/*------- Task 6 -------  */
#yellowSquare {
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 0 20px;
}
/*------- Task 7 -------  */
#greenSquare {
  width: 50px;
  height: 20px;
  background-color: green;
  margin: 0 20px;
  display: none;
}
#img-container {
  width: 200px;
  height: auto;
}
/*------- Task 10 -------  */
.blockCursor {
  width: 100%;
  height: 300px;
  background-color: aquamarine;
  position: relative;
}
.coordinats {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
/*------- Task 11 -------  */
._language {
  background-color: rgb(190, 33, 12);
}
/*------- Task 12 -------  */
._position {
  background-color: rgb(111, 111, 217);
}
.coordinats {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*------- Task 13 -------  */
.block_13{
  width: 300px;
  height: 100px;
  background-color: pink;
  margin: 0 20px;
  padding: 10px;
}
/* Task 14 */
#butt_scroll {
  width: 100px;
  height: 50px;
  background-color: pink;
  margin: 0 20px;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
}
#butt_scroll:hover {
  background-color: rgb(193, 151, 233);
}
#butt_scroll.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
/* Task 15 */
.block1 {
  width: 100px;
  height: 100px;
  background-color: black;
  cursor: pointer;
  position: relative;
  left: 10%;
}
.block2 {
  width: 50px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  position: absolute;
  left: 23.5%;
}
/*------- Task 16 -------  */
.block_shodow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 1000;
}
/*------- Task 18 -------  */
.file-container {
  position: relative;
  width: 350px;
  margin: 0 auto;
}
.file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border: 2px solid rgb(131, 58, 180);
  background: rgb(131, 58, 180);
  background: linear-gradient(
90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 82%
  );
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.file-label:hover{
  background: linear-gradient(
    90deg,
        rgba(253, 29, 29, 1) 0%,
        rgba(131, 58, 180, 1) 0%
      );
}
.span-text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}
.input-file {
  display: none;
}
.selected-file {
  margin-top: 10px;
  font-weight: bold;
}
